<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="nl.amsterdam.openmonumentendag">
    <application>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="<YOUR_API_KEY_HERE>"
        tools:replace="android:value"/>
    </application>
</manifest>
